.display {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.calculator {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: end; */
    width: 200px;
    margin: 12px;
}

button {
    padding: 15px;
}
