@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-color: black;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
}

#calculator {
    background-color: rgb(34, 34, 34);
    padding: 10px;
    max-width: fit-content;
}

#display {
    height: 30px;
    text-align: end;
    font-size: 32px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 348px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

#display p {
    margin: 0px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button {
    padding: 0px;
    height: 90px;
    width: 90px;
    font-size: 48px;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
}

.nb {
    background-color: rgb(82, 114, 141);
}

.op {
    background-color: rgb(47, 74, 97);
}

#clr {
    background-color: rgb(175, 53, 53);
}

#equ {
    color: black;
}