#display {
    height: 30px;
    text-align: end;
    font-size: 32px;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

#display p {
    margin: 0px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

button {
    padding: 28px;
    font-size: 48px;
}
